
@{
    ViewData["Title"] = "Index";
}

<div class="page-content-wrapper">
    <div class="page-content-wrapper-inner">
        <div class="content-viewport">
          <div class="row">
            <div class="col-12 py-5">
                    <h1>Dashboard</h1>

            </div>
           </div>
        </div>
    </div>
</div>

