@model HomeVM

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" type="text/css" href="styles/courses.css">
<link rel="stylesheet" type="text/css" href="styles/courses_responsive.css">



<div class="home">

    <div class="home_background parallax_background parallax-window" data-parallax="scroll"
         data-image-src="~/images/courses.jpg" data-speed="0.8"></div>
    <div class="home_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content text-center">
                        <div class="home_title">About us</div>
                        <div class="breadcrumbs">
                            <ul>
                                <li><a href="index-2.html">Home</a></li>
                                <li>About us</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="courses">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="section_title text-center">
                    <h2>Choose your course</h2>
                </div>
                <div class="section_subtitle">
                    Suspendisse tincidunt magna eget massa hendrerit efficitur. Ut euismod
                    pellentesque imperdiet. Cras laoreet gravida lectus, at viverra lorem venenatis in. Aenean id varius quam.
                    Nullam bibendum interdum dui, ac tempor lorem convallis ut
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="course_search">
                    <form action="#"
                          class="course_search_form d-flex flex-md-row flex-column align-items-start justify-content-between">
                        <div><input type="text" class="course_input" placeholder="Course" required="required"></div>
                        <div><input type="text" class="course_input" placeholder="Level" required="required"></div>
                        <button class="course_button">
                            <span>search course</span><span class="button_arrow">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </span>
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="row featured_row">
            <div class="col-lg-6 featured_col">
                <div class="featured_content">
                    <div class="featured_header d-flex flex-row align-items-center justify-content-start">
                        <div class="featured_tag"><a href="#">Featured</a></div>
                        <div class="featured_price ml-auto">Price: <span>$35</span></div>
                    </div>
                    <div class="featured_title">
                        <h3><a href="courses.html">Online Literature Course</a></h3>
                    </div>
                    <div class="featured_text">
                        Maecenas rutrum viverra sapien sed fermentum. Morbi tempor odio eget lacus
                        tempus pulvinar. Donec vehicula efficitur nibh, in pretium nulla interdum lacus vehicula efficitur nibh,
                        in pretiumvehicula efficitur nibh, in pretium tempus non.
                    </div>
                    <div class="featured_footer d-flex align-items-center justify-content-start">
                        <div class="featured_author_image"><img src="~/images/featured_author.jpg" alt=""></div>
                        <div class="featured_author_name">By <a href="#">James S. Morrison</a></div>
                        <div class="featured_sales ml-auto"><span>352</span> Sales</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 featured_col">

                <div class="featured_background" style="background-image:url(images/featured.jpg)"></div>
            </div>
        </div>
        <div class="row courses_row d-flex flex-column" id="course" data-count ="@ViewBag.count">

            <div id="parent" class="d-flex flex-wrap">
                <partial name="_CoursesPartial" model="@Model.Courses" />
            </div>

            <div class="row my-3 d-flex justify-content-center">
                <button class="btn btn-primary show-more-btn">Show More</button>
                <button class="btn btn-danger show-less-btn d-none">Show Less</button>
            </div>

        </div>

        <div class="row">
            <div class="col">
                <div class="courses_paginations">
                    <ul>
                        <li class="active"><a href="#">01</a></li>
                        <li><a href="#">02</a></li>
                        <li><a href="#">03</a></li>
                        <li><a href="#">04</a></li>
                        <li><a href="#">05</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/courses.js"></script>
    <script src="~/js/showmore.js"></script>
}
